<footer>
	<div class="footer-copyright-wrapper">
		<a href="index.html" title="Off the Wall &raquo; Tours of Beijing">
            <!-- NO LOGO IMAGE -->
    		<img src="images/footer-logo.png" alt="Off the Wall &raquo; Tours of Beijing">
		</a>
		
		<!-- Copyright info -->
		<p class="footer-copyright">&copy;<a href="contact.html" title="Off the Wall Tours of Beijing">Mirella Coolen</a>. All Rights Reserved.</p>
	</div>

	<!-- Social Network Links -->
	<ul class="connect white">
		<li><a href="#" title="Facebook" class="facebook">Facebook</a></li>
		<li><a href="#" title="Twitter" class="twitter">Twitter</a></li>
		<li><a href="#" title="Dribbble" class="dribbble">Dribbble</a></li>
		<li><a href="#" title="Vimeo" class="vimeo">Vimeo</a></li>
		<li><a href="#" title="Skype" class="skype">Skype</a></li>
		<li><a href="#" title="500px" class="fivehundredpx">500px</a></li>
	</ul>

	<!-- "Back to Top" link -->
	<a class="back-to-top" title="Back to top" href="#">Back to top</a>
</footer>