<footer>
	<div class="footer-copyright-wrapper">
        <p><span style="color: white; font-size: 22px; font-weight: bold; text-transform: uppercase;">Off the wall</span></p>
		<!-- Copyright info -->
		<p class="footer-copyright">&copy;<a href="contact.html" title="Off the Wall Tours of Beijing">Mirella Coolen</a>. All Rights Reserved.</p>
	</div>

	<!-- Social Network Links -->
	<ul class="connect white">
		<li><a href="https://www.facebook.com/pages/Off-the-Wall/1396648183907664" target="_blank" title="Facebook" class="facebook">Facebook</a></li>
		<!-- <li><a href="#" title="Dribbble" class="dribbble">Tripadvisor</a></li> -->
	</ul>

	<!-- "Back to Top" link -->
	<a class="back-to-top" title="Back to top" href="#">Back to top</a>
</footer>